# Intro to Pandas and Dask
### Analyse easily  your data in Pandas and scale up with Dask

## Agenda
### Basics of Pandas
* Pandas data structures
* Pandas operations
* Example: CSV file

### Basics of Dask
* Dask data structures
* Dask Functions
* Example: read data out of RAM

## Objectives
### Learn the basics of Pandas
* DataFrame & Series
* Read & Write a CSV
* Explore data (data stats and plot)

### Learn the basics of Dask
* Dask data structures
* lazy delayed functions
* Dask DataFrame

# Pandas basic data structures

dive straight into an example and then exaplain the structure

In [1]:
import pandas as pd
import numpy as np

Let's generate some random data

In [2]:
np.random.seed(493982)
data = np.random.rand(20, 5)
data

array([[0.74654724, 0.99788419, 0.86591949, 0.41695469, 0.8725506 ],
       [0.87068064, 0.66459727, 0.44992557, 0.26986815, 0.25715698],
       [0.11855892, 0.69057913, 0.65974659, 0.12228396, 0.35230689],
       [0.83246491, 0.41042833, 0.83468465, 0.67801725, 0.13328298],
       [0.63107085, 0.11166736, 0.3768215 , 0.5050874 , 0.50397578],
       [0.09142064, 0.41563447, 0.01123665, 0.42177774, 0.53645722],
       [0.8964898 , 0.61909905, 0.64485439, 0.45374511, 0.30419314],
       [0.82762957, 0.60506176, 0.22260624, 0.33932104, 0.30457279],
       [0.55414776, 0.92551271, 0.07917241, 0.22934229, 0.70126891],
       [0.00580176, 0.56441064, 0.71657418, 0.52606646, 0.70951076],
       [0.67113566, 0.94523831, 0.90580676, 0.38760335, 0.11510539],
       [0.85258045, 0.12584943, 0.73929132, 0.92034466, 0.21199683],
       [0.38914323, 0.59220176, 0.62593959, 0.86293186, 0.42646922],
       [0.74097959, 0.88157047, 0.87566306, 0.7656533 , 0.23863027],
       [0.42049234, 0.12083495, 0.32566926, 0.47149077, 0.34035174],
       [0.52870272, 0.00633558, 0.12556568, 0.18618851, 0.41448756],
       [0.61062216, 0.29760803, 0.00862084, 0.53641755, 0.8564989 ],
       [0.25812633, 0.96961641, 0.07731801, 0.21635111, 0.84722557],
       [0.33071185, 0.35090036, 0.327098  , 0.57970003, 0.61337432],
       [0.48223904, 0.81554126, 0.50015113, 0.72287942, 0.41454022]])

### *The Series*

In [3]:
ser = pd.Series(data[0])
ser

0    0.746547
1    0.997884
2    0.865919
3    0.416955
4    0.872551
dtype: float64

### *The DataFrame*

In [4]:
df = pd.DataFrame(data)
df

           0         1         2         3         4
0   0.746547  0.997884  0.865919  0.416955  0.872551
1   0.870681  0.664597  0.449926  0.269868  0.257157
2   0.118559  0.690579  0.659747  0.122284  0.352307
3   0.832465  0.410428  0.834685  0.678017  0.133283
4   0.631071  0.111667  0.376822  0.505087  0.503976
5   0.091421  0.415634  0.011237  0.421778  0.536457
6   0.896490  0.619099  0.644854  0.453745  0.304193
7   0.827630  0.605062  0.222606  0.339321  0.304573
8   0.554148  0.925513  0.079172  0.229342  0.701269
9   0.005802  0.564411  0.716574  0.526066  0.709511
10  0.671136  0.945238  0.905807  0.387603  0.115105
11  0.852580  0.125849  0.739291  0.920345  0.211997
12  0.389143  0.592202  0.625940  0.862932  0.426469
13  0.740980  0.881570  0.875663  0.765653  0.238630
14  0.420492  0.120835  0.325669  0.471491  0.340352
15  0.528703  0.006336  0.125566  0.186189  0.414488
16  0.610622  0.297608  0.008621  0.536418  0.856499
17  0.258126  0.969616  0.077318  0.216351  0.847226
18  0.330712  0.350900  0.327098  0.579700  0.613374
19  0.482239  0.815541  0.500151  0.722879  0.414540

## Pandas Operations

* Accessing Dataframe elements
* Manipulate Columns and Index
* Selection

In [5]:
df.head()

          0         1         2         3         4
0  0.746547  0.997884  0.865919  0.416955  0.872551
1  0.870681  0.664597  0.449926  0.269868  0.257157
2  0.118559  0.690579  0.659747  0.122284  0.352307
3  0.832465  0.410428  0.834685  0.678017  0.133283
4  0.631071  0.111667  0.376822  0.505087  0.503976

In [6]:
df.tail(2)

           0         1         2         3         4
18  0.330712  0.350900  0.327098  0.579700  0.613374
19  0.482239  0.815541  0.500151  0.722879  0.414540

In [7]:
df.columns = ['col' + str(x) for x in range(len(df.columns))]
df.head()

       col0      col1      col2      col3      col4
0  0.746547  0.997884  0.865919  0.416955  0.872551
1  0.870681  0.664597  0.449926  0.269868  0.257157
2  0.118559  0.690579  0.659747  0.122284  0.352307
3  0.832465  0.410428  0.834685  0.678017  0.133283
4  0.631071  0.111667  0.376822  0.505087  0.503976

In [8]:
df.index.name = 'my-idx'

In [ ]:
df.head()

            col0      col1      col2      col3      col4
my-idx
0       0.746547  0.997884  0.865919  0.416955  0.872551
1       0.870681  0.664597  0.449926  0.269868  0.257157
2       0.118559  0.690579  0.659747  0.122284  0.352307
3       0.832465  0.410428  0.834685  0.678017  0.133283
4       0.631071  0.111667  0.376822  0.505087  0.503976

In [ ]:
df.index

RangeIndex(start=0, stop=20, step=1, name='my-idx')

In [ ]:
df.columns

Index(['col0', 'col1', 'col2', 'col3', 'col4'], dtype='object')

In [ ]:
df['col0']

my-idx
0     0.746547
1     0.870681
2     0.118559
3     0.832465
4     0.631071
5     0.091421
6     0.896490
7     0.827630
8     0.554148
9     0.005802
10    0.671136
11    0.852580
12    0.389143
13    0.740980
14    0.420492
15    0.528703
16    0.610622
17    0.258126
18    0.330712
19    0.482239
Name: col0, dtype: float64

In [ ]:
df[['col0','col3']].head()

            col0      col3
my-idx
0       0.746547  0.416955
1       0.870681  0.269868
2       0.118559  0.122284
3       0.832465  0.678017
4       0.631071  0.505087

In [ ]:
df = df[['col0','col3']].head()
df.loc[df['col0'] > 0.7, :]

            col0      col3
my-idx
0       0.746547  0.416955
1       0.870681  0.269868
3       0.832465  0.678017

#### Explanation
`.loc` = Select

`dfnew.loc[df['col0'] > 0.7, :]`

Select `WHERE col0 > 0.7`

In fact `df['col0'] > 0.7`

In [ ]:
df['col0'] > 0.7

my-idx
0     True
1     True
2    False
3     True
4    False
Name: col0, dtype: bool

## Example: Loading a CSV and analyse the time series

## Dask Fundamentals
### Parallelization with ***Delayed***

### Example
Generate a list of file names with additional metadata in the name itself

In [ ]:
from glob import glob
from dateutil import parser
from time import sleep

In [ ]:
fnames = glob('data/nasadata/Files/*.txt')
fnames[:10]

['data/nasadata/Files/cloudlow18.txt',
 'data/nasadata/Files/cloudlow51.txt',
 'data/nasadata/Files/surftemp38.txt',
 'data/nasadata/Files/temperature62.txt',
 'data/nasadata/Files/cloudmid11.txt',
 'data/nasadata/Files/surftemp19.txt',
 'data/nasadata/Files/pressure70.txt',
 'data/nasadata/Files/cloudmid21.txt',
 'data/nasadata/Files/ozone32.txt',
 'data/nasadata/Files/ozone42.txt']

In [ ]:
with open(fnames[0],'r') as fp:
    counter = 0
    for counter,line in enumerate(fp):
        print(line)
        if counter == 8:
            break

             VARIABLE : Mean low cloud amount (%)

             FILENAME : ISCCPMonthly_avg.nc

             FILEPATH : /usr/local/fer_data/data/

             SUBSET   : 24 by 24 points (LONGITUDE-LATITUDE)

             TIME     : 16-JUN-1996 00:00

              113.8W 111.2W 108.8W 106.2W 103.8W 101.2W 98.8W  96.2W  93.8W  91.2W  88.8W  86.2W  83.8W  81.2W  78.8W  76.2W  73.8W  71.2W  68.8W  66.2W  63.8W  61.2W  58.8W  56.2W

               27     28     29     30     31     32     33     34     35     36     37     38     39     40     41     42     43     44     45     46     47     48     49     50

 36.2N / 51:  23.50  15.50  15.50  15.00  20.00  28.50  19.00  19.00  17.50  18.00  16.00  17.50  18.00  18.00  14.50  20.00  41.50  38.00  38.00  34.00  33.50  24.00  23.00  23.00

 33.8N / 50:  18.00  18.00  19.50  17.00  26.00  28.50  21.00  21.00  18.00  17.50  18.00  16.50  17.50  17.50  19.00  27.00  30.50  28.00  24.00  24.00  30.50  29.00  27.00  25.00

In [ ]:
def get_date_fname(file_name):
    try:
        with open(file_name,'r') as f:
            for counter, line in enumerate(f):
                if counter == 4:
                    # get the date str
                    datestr = line.split(':',maxsplit=1)[-1]
                    date = parser.parse(datestr[1:12])
                    date = date.strftime('%Y-%m-%d')
        return (file_name.replace('.txt','_{}.txt'.format(date)), file_name)
    except:
        print('not able to retrieve the date')
        return (None, file_name)

In [ ]:
def save_newname(names):
    new, old = names
    # save new file
    # ...
    # delete old file
    # ...
    sleep(0.5)
    return new

In [ ]:
%%time
final_names = []
for name in fnames:
    temp_names = get_date_fname(name)
    out_name = save_newname(temp_names)
    final_names.append(out_name)

In [ ]:
from dask import delayed

In [ ]:
del_get_date_fname = delayed(get_date_fname)
del_save_newname = delayed(save_newname)
del_list1 = [del_get_date_fname(x) for x in fnames[:5]]
del_list1

In [ ]:
del_list2 = [del_save_newname(y) for y in del_list1]
del_list2[:5]

In [ ]:
out = delayed(list)(del_list2)
out.visualize()

In [ ]:
%%time
# all together for real
del_list1 = [del_get_date_fname(x) for x in fnames]
del_list2 = [del_save_newname(y) for y in del_list1]
out = delayed(list)(del_list2)
final_names_dd = out.compute()
final_names_dd

## Dask data structures

### Dask Array
```python
import h5py
# Numpy
import numpy as np
f = h5py.File('myfile.hdf5')
x = np.array(f['/small-data'])
x - x.mean(axis=1)

# Dask
import dask.array as da
x = da.from_array(f['/big-data'], chunks=(1000, 1000))
x - x.mean(axis=1).compute()
```

### Dask DataFrame
```python
import h5py
# Numpy
import pandas as pd
df = pd.read_csv('2015-01-01.csv')
df.groupby(df.user_id).value.mean()

# Dask
import dask.dataframe as dd
df = dd.read_csv('2015-*-*.csv')
df.groupby(df.user_id).value.mean().compute()
```

### Dask Bag
### (for everything else)
```python
import json
import dask.bag as db
b = db.read_text('2015-*-*.json.gz').map(json.loads)
```

## Dask Scheduler
The computation engine 

### Single machine
* Synchronous
* Threaded
* Multiprocessing

### Cluster
* Distributed

## Example: Pandas vs Dask multiple CSVs

# Thank you!


## Links
### Create slides using Jupyter Notebook
https://medium.com/learning-machine-learning/present-your-data-science-projects-with-jupyter-slides-75f20735eb0f